* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.app {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.calculator {
	background-color: #22252D;
	width: 100%;
	max-width: 375px;
	min-height: 640px;
	display: flex;
	flex-direction: column;
	border-radius: 1.5rem;
	overflow: hidden;
}

.display {
	min-height: 200px;
	padding: 1.5rem;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	color: white;
	text-align: right;
	flex: 1 1 0%;
}

.display .content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	max-width: 100%;
	overflow: auto;
}

.display .input {
	width: 100%;
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

.display .output {
	font-size: 3rem;
	font-weight: 700;
	width: 100%;
	white-space: nowrap;
}

.display .operator {
	color: #EB6666;
}

.display .brackets,
.display .percent {
	color: #26FED7;
}

.keys {
	background-color: #292D36;
	padding: 1.5rem;
	border-radius: 1.5rem 1.5rem 0 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 1rem;
	box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
}

.keys .key {
	position: relative;
	cursor: pointer;

	display: block;
	height: 0;
	padding-top: 100%;
	background-color: #262933;
	border-radius: 1rem;
	transition: 0.2s;
	user-select: none;
}

.keys .key span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 2rem;
	font-weight: 700;
	color: #fefefe;
}

.keys .key:hover {
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.keys .key.operator span {
	color: #f50101;
}

.keys .key.action span {
	color: #00f9cb;
}

.footer{
	text-align-last: center;
}


#main_container {
	font-size: 1.0rem;
    width: 900px;
    margin: auto;
	margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    font-family: sans-serif;
    border-radius: 20px;
    border: 3px solid #816a6a;
}

#birth_date_input, #age_container {
    text-align: center;
	color: rgb(131, 8, 82);
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

#age_container {
    margin: 40px 5px;
    padding: 20px;
    border-radius: 50px;
    border: 1px solid #000;
    font-weight: bolder;
    background: #EEE;
    font-size: 20px;
    line-height: 40px;
}

#calculate {
    cursor: pointer;
    text-align: center;
    width: 200px;
    padding: 5px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #999;
    border-radius: 10px;
    background: #a1d51e;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFD119), to(#E6B800));
	background: -moz-linear-gradient(top, #e5b804, #5bff08);
    font-weight: bold;
    height: 28px;
    box-shadow: 0 -8px inset;
}

#calculate:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#E6B800), to(#FFD119));
	background: -moz-linear-gradient(top, #E6B800, #FFD119);
    margin-top: 13px;
    height: 25px;
    box-shadow: 0 -5px inset;
}

#calculate:active {
    background: #403300;
    padding-top: 10px;
    height: 20px;
    box-shadow: 0 5px #000 inset;
}

#age {
    padding: 5px;
    border: 3px dashed #AAA;
    background-color: green;
}
html{
   background-color: #251d3e;
}

